.desc_nb_container {
    width: 70%;
    margin: 0 15%;
}

.desc_text_container{
    width: 80%;
    margin: 40px 10% 0;
}

.desc_nb_article {
    width: 30%;
    display: inline-block;
}

.desc_center {
    border-left: 1.5px solid rgba(43, 69, 71, .5);
    border-right: 1.5px solid rgba(43, 69, 71, .5);
}

.desc_nb_h2 {
    font-size: 3em;
    color: rgb(43, 69, 71);
    margin: 0;
}

.desc_nb_p {
    font-size: 1.5em;
    margin: 0;
}

@media only screen and (max-width: 1100px) {
    .desc_nb_container {
        margin: 0;
    }
}