.desc_container {
    text-align: center;
}

.desc_h2 {
    margin: 5%;
}

.desc_text_container{
    width: 80%;
    margin: 6% 10% 10%;
}

.desc_nb_article {
    width: 30%;
    display: inline-block;
}

.desc_center {
    border-left: 1.5px solid rgba(43, 69, 71, .5);
    border-right: 1.5px solid rgba(43, 69, 71, .5);
}

.desc_nb_h2 {
    font-size: 3em;
    color: rgb(43, 69, 71);
    margin: 0;
}

.desc_nb_p {
    font-size: 2em;
    margin: 0;
}

.desc_text_p {
    font-size: 1.3em;
}