.footer {
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
    margin-top: 60px;
    text-align: center;
    background: rgb(50, 161, 165);
    background: linear-gradient(rgba(13, 52, 82, 0.6), rgba(0, 56, 77, 0.9));
    color: #fff;
}

.container {
    height: auto;
}

footer {
    display: table-row;
    height: 3px;
}