/* Style de la section Formulaire; */
.formulaire{
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    border-radius: 2px;
    padding: 20px;
    height: 200px;;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.formulaire h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #0173bc;
    font-size:x-large;
}
.formulaire ul{
    list-style:none;
    padding:0;
    margin:0;
}
.formulaire li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.formulaire li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.formulaire li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #0173bc;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.formulaire input[type="text"],
.formulaire input[type="email"],
.formulaire select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.formulaire li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #0173bc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.formulaire textarea{
    resize:none;
}

.formulaire input[type="submit"],
.formulaire input[type="button"]{
    background: #0173bc;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #0173bc;
    border-radius: 3px;
    color: #D2E2FF;
}
.formulaire input[type="submit"]:hover,
.formulaire input[type="button"]:hover{
    background: #0173bc;
    color:#fff;
}

.h3formulaire {
    text-align: center;
    color:#0173bc;
    text-decoration: underline;
}